html {
  height: 100%;
  color: #eee;
}

body {
  background-color: #282828;
  color: #F0F0F0;
  height: 95%;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

#grids path {
  stroke: #282828;
  stroke-width: .3px;
}

.title {
  position: absolute;
  top: 10px;
  left: 10px;
}

.footer {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 0.75em;
}

.footer a {
  color: #F0F0F0;
}

.place-name {
  position: absolute;
  right: 10px;
  bottom: 30px;
  font-size: 1.8em;
}

.place-count {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.2em;
}

input[type=range] {
  width: 330px;
  background: #282828;
  -webkit-appearance: none !important;
  margin-left: 8px;
  margin-right: 8px;
  height: 21px;
  padding: 1px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height:19px;
    width:45px;
    background: rgba(255,255,255,0.8);
    margin-left:1px;
    margin-right: 1px;
}

.tooltip::before {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(tooltip); /* The main part of the code, determining the content of the pop-up prompt */
    margin-top: -24px;
    opacity: 0; /* Our element is transparent... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...and hidden. */
    transition: all 0.4s ease-in-out; /* To add some smoothness */
}

.tooltip:hover::before {
    opacity: 1; /* Make it visible */
    visibility: visible;
}

select {
  background: rgba(255,255,255,0.1);
  border-color: #282828;
  border-width: 2px;
  width: 170px;
  height: 20px;
  margin: 5px 0px;;
}

#range {
  text-align: center;
  width: 100%;
  position: relative;
}

#key {
  height: 150px;
  width: 200px;
}

#key text {
  fill: #000;
}

#key rect {
  stroke: rgba(255,255,255,0.8);
  stroke-width: 0px;
}

.pop-up {
  position: absolute;
  background-color: #F0F0F0;
  padding:10px;
  color: #000;
  width: 250px;
  border-radius: 8px 8px 0px 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.pop-up #title {
  font-size: 1.5em;
}

.pop-up #info {
  font-size: 2em;
}

#chart {
  height: 580px;
  width: 580px;
  position: absolute;
  right: 10px;
  top: 90px;
}

.controls {
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
  padding: 10px;
  left: 10px;
  top: 350px;
  position: absolute;
  width: 450px;
  color: #000;
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#plot {
  position: absolute;
  top: 84px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
  padding: 10px;
  width: 450px;
  color: #000;
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.y_axis {
  fill: none;
}

#plot line {
  stroke: #282828;
  stroke-width: 2px;
}

#plot path {
  stroke: none;
  stroke-width: 3px;
}
#plot text {
  fill: #000;
}
