/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <http://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
@import url("../../static/libs/bootstrap/css/bootstrap.min.css");
@import url("../../static/libs/font-awesome/css/font-awesome.min.css");
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);

/***** Global *****/
/* Body */
body {
    /*background: #F5F4EF;*/
    color: #2e3436;
    /*background: #d1d1d1 url(../images/side-bg.png) no-repeat;*/
    background: #d1d1d1 url(../images/side-bg.png) no-repeat;
    background-attachment:fixed;
    /*font-size: 87.5%; /* Base font size: 14px */
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
  font-family: 'Yanone Kaffeesatz', arial, serif;
}

h3, h4, h5, h6 { margin-top: .8em; }
	
hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}

a:link, a:visited {
	color: #2A75A9;
	/*padding: 0 1px;*/
	text-decoration: none;
}
a:hover, a:active {
	background-color: #2A75A9;
	color: #fff;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px #333;*/
}

img {display: block;}
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a img {border: 0px; background-color: transparent;}

h1 a:hover {
    background-color: #2A75A9;
}
	
/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

/*li { margin-top: 0.5em;}*/

li {line-height: 1.5em;}

.post-info {
    /*float:right;*/
    /*margin:10px;*/
    /*padding:5px;*/
    width: 100%;
}

.post-info p{
    margin-top: 1px;
    margin-bottom: 1px;
}

p.readmore { float: right; padding: 0; margin: 0; }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}

/* Quotes */
q {
    margin: 0px;
    padding-left: 55px;
    font-style: italic;
    position: relative;
}

q:before {
    font-size: 3em;
    font-family: FontAwesome;
    text-decoration: normal;
    content: "\f10d";
    display: block;
    position: absolute;
    left: -10px;
    top: -5px;
    color: #7a7a7a;
}

cite {}

code {
    color: #2A75A9;
}

blockquote p {
    font-size: 88%;
}

.input-append button.add-on { 
  height: inherit !important;
}

#top-search {
    position: absolute;
    right: 0px;
    top: 55px
}

.result h3 {margin-bottom: 5px;}

#top-results {
    position: absolute;
    right: 0px;
    top: 85px;
    width: 236px;
    padding: 0px 10px 10px 10px;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
    z-index: 5;
}

.form-search .input-append #top-query {
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 10;
    border-radius: 10px 0 0 0;
}

.form-search .input-append #top-btn{
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
    background: #fff;
}



.note {
	position: absolute;
	padding:5px;
	margin: 1em;
	right: -270px;
	border:5px solid #B0C4DE;
	color:#eee;
	max-width: 200px;
	background: #B0C4DE;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-left:30px;
	margin-top: -8px;
}

.note.right {}

.note.left {
	margin-right:25px;
	margin-left:0px;
	left: -255px;
}

.note:before {
	content:"";
	position:absolute;
	border-style:solid;
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #B0C4DE;
    display:block; 
    width: 0;
}

/* creates the smaller  triangle */
.note:after {
	content:"";
	position:absolute;
	border-style:solid;
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 21px 9px 0;
	border-color:transparent #B0C4DE;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.note.right:before {}

.note.right:after {}

.note.left:before {
	top:10px; /* controls vertical position */
	bottom:auto;
    left:auto;
	right:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 0 15px 30px;
	border-color:transparent #B0C4DE;
}

.note.left:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
    left:auto;
	right:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 0 9px 21px;
	border-color:transparent #B0C4DE;
}



/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	/*tbody td {padding: .5em .4em;}*/
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right, figure.right {float: right; margin: 0 0 1em 2em;}
img.left, figure.left {float: left; margin: 0 2em 1em 0;}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
	position: relative;
}

	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: 0;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #2e3436;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #2A75A9;
		text-shadow: none;
	}
	
	#banner h1 strong {
	    font-size: 0.36em;
	    font-weight: normal;
	    color: #2A75A9;
    }

	#banner h1 a:hover strong, #banner h1 a:active strong {
	    color: #2e3436;
	}
	
	/* Main Nav */
	#banner nav {
		background: #2e3436;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		/*width: 800px;*/
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
#banner nav ul {
    list-style-type: none;
    margin: 0;
    width: 800px;
    text-align: justify;
    display: block;
}

#banner nav li {
    display: inline-block;
    /*white-space: nowrap;*/
    height: 30px;
    text-align: center;
    /*padding: 5px 20px;*/
}

#banner nav a:link, #banner nav a:visited {
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
}

.navbar .nav {
    width:100%;
    margin: 0px;
}

.navbar .nav>li.pull-right {
    float: right;
}

#links {
    list-style: none;
    float: right;
}

.dropdown-menu {
    font-size: .8em;
}

#home {
    line-height: 100%;
    font-size: 1.5em;
}

.navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
    background: #2e3436;
    border: none;
}

.navbar {
    width: 800px;
    font-size: 1.2em;
}

.navbar .nav > li > a {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 #777;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #eee;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  background-color: #777;
}

[class^="icon-chevron-down"] {
    font-size: .6em;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
color: #2e3436;
background-color: #fff;
text-shadow: 0 1px 0 #eee;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #fff;
  background: #2A75A9;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  background: #2A75A9;
  outline: 0;
}

/*	Featured */
#featured {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #2A75A9; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
	/*margin-bottom: 2em;*/
	/*overflow: hidden;*/
	/*width: 760px;*/
	clear: both;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content.body {
	background: none;
}

#content.list {
	background: none;
	margin: 0 auto;
	width: 800px;
}

/*
	Extras
*****************/
#extras {
    margin: 2em auto 3em auto;
    overflow: hidden;
	  border-radius: 10px;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  background: #fff;
  	margin-bottom: 2em;
  	overflow: hidden;
}

#extras ul {list-style: none; margin: 0;}
/*#extras li {border-bottom: 1px solid #fff;}*/
#extras h2 {
	/*color: #2A75A9;*/
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	/*border-bottom: 1px solid #F4E3E3;*/
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

	/* Blogroll */
#extras .blogroll {
		float: right;
		width: 150px;
		padding: 0 10px;
}
	
#extras .blogroll li {
    float: left;
    margin: 0 20px 0 0;
    width: 150px;
}
	
	/* Social */
#extras .social {
		float: right;
		width: 150px;
		padding: 0 10px;
}
	
#extras .twitter {
	float: left;
    display: inline-block;
    /*width: 100%;*/
    padding: 20px 20px;
}
	
#extras div[class='social'] a {
    text-decoration: normal;
}
	
#social-menu a:before {
    padding-right: 0.5em;
}


/* About */
#about {
  	background: #fff;
  	font-style: normal;
  	margin-bottom: 2em;
  	overflow: hidden;
  	padding: 20px;
  	text-align: left;
  	width: 760px;
  	border-radius: 10px;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
}

.rfloat {
    float: right;
}

.lfloat {
    float: left;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

.fixed {
    position: fixed;
    z-index: 5;
}

.shadow {
    -moz-box-shadow: 0 5px 5px -3px #A9A9A9; /*#BCBCBC;*/
    -webkit-box-shadow: 0 5px 5px -3px #A9A9A9; /*#BCBCBC;*/
    box-shadow: 0 5px 5px -3px #A9A9A9; /*#BCBCBC;*/
}
 
/*
	Footer
*****************/
#contentinfo {
    padding-bottom: 1em;
    text-align: right;
}

#contentinfo #about {
    color: #fff;
    background: #2e3436;
}

/***** Sections *****/
/* Blog */
.hentry {
	  display: block;
	  clear: both;
	  background: rgba(255, 255, 255, 1);
	  padding: 1em 1.5em 1.5em 1.5em;
	  margin-bottom: 1.5em;
	  border-radius: 10px;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;		
}

li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
/*#content > .hentry {padding: 1em 0;}*/
/*.hentry img{display : none ;}*/
.entry-title {font-size: 3em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}
.entry-content li {padding-bottom: 0px;}
.hentry .post-info * {font-style: normal;}

.entry-content {
    position: relative;
}

article header .published {
    float: right;
}

.hentry .vcard.author {
    float: right;
}

.category {
    float: left;
    font-size: .8em;
}

.tag {
    font-size: .8em;
    clear: both;
}

/* Content */
.hentry footer {
    margin-bottom: 1em;
}

.hentry address {
  margin-bottom: 0px;
}

.hentry footer address {
    display: inline;
}

.paginator {
    text-align: center;
}

.paginator a, .paginator a:link, .paginator a:visited {
    text-decoration: none;
    color: #2e3436;
}
.paginator a:hover, .paginator a:active {
    color: #2A75A9;
    background-color: transparent;
}

#posts-list .note {
    display: none;
}

#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	/*#posts-list .hentry {padding-left: 0px; position: relative;}*/
	/*#posts-list li {padding-bottom: 1.5em;}*/
	
	#posts-list footer {
		position: relative;
    float: left;
		top: 0.5em;
		width: 100%;
	}
	
	#post-list footer p {
		  display: inline;
	}
	
	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}
