html {
  height: 100%;
  color: #282828;
}

body {
  color: #iii;
  height: 95%;
  width: 100%;
}

h1 {
  margin: 0px;
  padding: 5px;
  padding-bottom: 0px;
}

h2 {
  margin: 0px;
  padding: 5px;
  padding-top: 0px;
}

#grids path {
  stroke: #325C74;
  stroke-width: 0.5px;
  opacity: 0.7;
}

#empties path {
  stroke: #325C74;
  stroke-width: 0.5px;
  fill: white;
}

#frame {
  width: 1230;
  margin: auto;
  overflow: hidden;
}

iframe {
  margin: auto;
  border: none;
}

.title {
  top: 10px;
  left: 10px;
  border-radius: 0px 8px 8px 8px;
  background: rgba(255,255,255,0.7);
}

.footer {
  left: 10px;
  bottom: 20px;
  font-size: 1em;
  border-radius: 0px 8px 8px 8px;
  background: rgba(255,255,255,0.7);
  padding: 5px;
}

.footer a {
  color: #282828;
}

#chart .btn-group {
  margin: auto;
  width: 350px;
  padding: 5px; 
  font-size: 1em;
}

#chart {
  width: 1200px;
  margin: auto;
  margin-bottom: 5px;
  background: url('dots.gif') repeat;
  border-radius: 10px;
}

#key {
  background: rgba(255,255,255,0.7);
  opacity: 0.8
  left: 20px;
  height: 170px;
  width: 200px;
  padding: 5px;
  border-radius: 0px 8px 8px 8px;
}

#key text {
  fill: #iii;
  font-size: 1.3em;
}

#key #back rect {
  fill: rgba(255,255,255,0.7);
  opacity: 0.8
  border-radius: 0px 8px 8px 8px;
}

#key #blocks rect {
  stroke: #325C74;
  stroke-width: 0px;
  opacity: 0.7;
}

.pop-up {
  position: absolute;
  background-color: #F0F0F0;
  padding:10px;
  color: #000;
  width: 250px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.pop-up #title {
  font-size: 1.5em;
  padding-bottom: 2px;
}

.pop-up #info {
  font-size: 1.6em;
  padding: 5px;
}

.pop-up #desc {
  text-align: center;
  height: 23px;
  margin-left: 50px;
  vertical-align: bottom;
}

.pop-up #desc #gold{
  background: url('gold.png') no-repeat;
  width: 50px;
  float: left;
  padding: 2px;
}

.pop-up #desc #silver{
  background: url('silver.png') no-repeat;
  width: 50px;
  height: 20px;
  float: left;
  padding: 2px;
  vertical-align: bottom;
}

.pop-up #desc #bronze{
  background: url('bronze.png') no-repeat;
  width: 50px;
  float: left;
  padding: 2px;
}

