<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.js"></script>
    <script src="{{ SITEURL }}/libs/bootstrap-3.1.1/dist/js/bootstrap.min.js"></script>
</head> 

<body id="index" class="home">
<img id="bg" src="{{ SITEURL }}/theme/images/bg/bg-1024.png" style="position: fixed; top: 0; left: 0;">
{% include 'github.html' %}
        <!-- <header id="banner" class="body"> -->
<nav class="navbar navbar-default navbar-fixed-top sticky shadow" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% if DISPLAY_HOME_ON_MENU -%}
            <a class="brand" id="home" href="{{ SITEURL }}/">
                <img src="{{ SITEURL }}/theme/images/title.svg" id="title" class="svg"></img>
            </a>
        {% endif %}	
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          {% if DISPLAY_PAGES_ON_MENU -%}
            {% for pg in PAGES %}
            <li{% if pg == page %} class="active"{% endif %}>
              <a href="{{ SITEURL }}/{{ pg.url }}">
                  <i class="fa {{ pg.icon }}"></i> {{ pg.title }}
              </a>
            </li>
            {% endfor %}
          {% endif %}
          {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-group"></i> Social <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">
                  <i class="fa fa-rss"></i> atom feed</a>
                </li>
                {% if FEED_ALL_RSS %}
                <li>
                  <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">
                  <i class="fa fa-rss"></i> rss feed</a>
                </li>
                {% endif %}
                <li class="divider"></li>
                {% for name, link, icon in SOCIAL %}
                <li>
                  <a href="{{ link }}"><i class="fa {{ icon }}"></i> {{ name }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          </ul>
          <form class="navbar-search pull-right">
            <div class="input-append">
              <input type="search" class="form-control" id="top-query" placeholder="  ">
            <div class="dropdown pull-right" id="top-dropdown">
              <a class="dropdown-toggle" id="top-toggle" role="button" data-toggle="dropdown" data-target="#" href="."></a>
              <ul class="dropdown-menu pull-right" role="menu" id="top-results" aria-labelledby="top-toggle"></ul></div>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

        <!-- </header> -->
        {% block content %}
		{{ page.content }}
        {% endblock %}
{% include 'analytics.html' %}
<script src="{{ SITEURL }}/theme/js/tools.js"></script>
</body>
</html>
