<div class="share-list">
{% if TWITTER_USERNAME %}
<a href="http://twitter.com/share?url={{ (SITEURL +  '/' + article.url)|urlencode }}&text={{article.title|striptags|urlencode}}&hashtags={% for tag in article.tags%}{{tag}},{% endfor %}&via=CarsonFarmer"
  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=600,width=600');return false;"
  class="label label-primary">
  <i class="fa fa-twitter-square fa-2x"></i> Tweet
</a>
{% endif %}
<a href="https://plus.google.com/share?url={{ (SITEURL +  '/' + article.url)|urlencode }}" 
  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=600,width=600');return false;"
  class="label label-primary">
  <i class="fa fa-google-plus-square fa-2x"></i> Share
</a>

<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ (SITEURL +  '/' + article.url)|urlencode }}&title={{article.title|striptags|urlencode}}&summary={{article.summary|striptags|urlencode}}&source=CarsonFarmer"
  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=600,width=600');return false;"
  class="label label-primary">
  <i class="fa fa-linkedin-square fa-2x"></i> Share
</a>

<a href="http://www.tumblr.com/share/link?url={{ (SITEURL +  '/' + article.url)|urlencode }}&name={{article.title|striptags|urlencode}}&description={{article.summary|striptags|urlencode}}"
  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=600,width=600');return false;"
  class="label label-primary">
  <i class="fa fa-tumblr-square fa-2x"></i> Share
</a>

<a href="http://www.facebook.com/sharer.php?s=100&p[url]={{ (SITEURL +  '/' + article.url)|urlencode }}&p[title]={{article.title|striptags|urlencode}}&p[summary]={{article.summary|striptags|urlencode}}"
  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=600,width=600');return false;"
  class="label label-primary">
  <i class="fa fa-facebook-square fa-2x"></i> Share
</a>

</div>